# streamlit>=1.28.0
# langchain>=0.0.346
# langchain-community>=0.0.11
# huggingface-hub>=0.16.4
# langdetect>=1.0.9
# googletrans-py>=4.0.0-rc1
# python-docx>=0.8.11
# PyPDF2>=3.0.1
# SpeechRecognition>=3.10.0
# youtube-transcript-api>=0.6.1
# beautifulsoup4>=4.12.2
# pydub>=0.25.1
# transformers

streamlit
langchain
langchain-community
transformers
torch
sentencepiece
speechrecognition
googletrans==4.0.0rc1
langdetect
pydub
docx2txt
PyMuPDF  # For PDF loading in PyPDFLoader
youtube-transcript-api
